VITE_API_BASE_URL='URL BASE DA API'
VITE_GOOGLE_AUTH_WEB_CLIENT_ID='CLIENT ID DO GOOGLE PARA WEB'

# para suspender a inicialização da autenticação do google, pois 'dev android' não a suporta, então tem que buildar toda hora
VITE_GOOGLE_AUTH_ENABLED="BOOLEANO PARA HABILITAR O LOGIN PELO GOOGLE"