// app global css

.box {
  width: 100%;
  max-width: 380px;
}

body.body--light {
  --q-primary: #202020;
}

body.body--dark {
  --q-primary: #e2e2e2;
  background-color: #0f0f0f;

  .botao-primario {
    background-color: #dfdfdf;
    color: rgb(37, 37, 37);
    // color: #e2e2e2;
  }
}